header {
	background-color:#DEDEDE;

}

#skiplink {
	left:-999px;
    position:absolute;
    top:auto;
    overflow:hidden;
}

#skiplink:focus, #skiplink:active {
	left: auto;
	border: 1px solid black;
	width:200px;
	text-align: center;
	padding:3px 5px;
	margin-left: 1em;
	vertical-align:top;
	display:inline-block;
}

.banner-container {
	padding: 20px 10px;
	display:inline-block;
}

h1{
	margin:0;
}

#main-h1 {
	padding:.5em 1em;
}

nav#main-menu{
	display: inline-block;
	width: 200px;
	background-color: #BBBBBB;
	vertical-align: top;
}
.main-body{
	display: inline-block;
	background-color: #efefef;
}

#main-menu-list{
	list-style: none;
}

#mml1 {
	margin-top:10px;
}

#main-menu-list li {
	border-top: 1px solid black;
	padding: 1em .5em;
	margin-right: 1em;
	text-decoration: underline;

}

#main-menu-list li:hover, #main-menu-list li:focus {
	border: 3px solid #22EE00;
	background-color: #EFEFEF;
	
}

#main-menu-list li:last-child{
	border-bottom: 1px solid black;
}

.list-title {
	font-weight: bold;
	font-size: 1em;
	margin: 0px 0px 10px -5px;
}

section#content {
	margin: 1em;
	border: 2px solid black;
	padding: 10px;
}

/*DOG APP CSS*/
.hidden {
  display: none;
}

.unhide {
  display: inline-block;
  margin-left:1em;
}

#breed-menu{
	display:inline;
}

.hide{
	visibility: none;
}
