@font-face {
    font-family: dys;
    src: url(odfont/OpenDyslexic-Bold.otf);
}
@font-face {
    font-family: dys;
    src: url(odfont/OpenDyslexic-BoldItalic.otf);
}
@font-face {
    font-family: dys;
    src: url(odfont/OpenDyslexic-Italic.otf);
}
@font-face {
    font-family: dys;
    src: url(odfont/OpenDyslexic-Regular.otf);
}

header {
	background-color:#DEDEDE;

}

#skiplink {
	left:-999px;
    position:absolute;
    top:auto;
    overflow:hidden;
}

#skiplink:focus, #skiplink:active {
	left: auto;
	border: 1px solid black;
	width:200px;
	text-align: center;
	padding:3px 5px;
	margin-left: 1em;
	vertical-align:top;
	display:inline-block;
}

.banner-container {
	padding: 20px 10px 10px 10px;
	display:inline-block;
}

h1{
	margin:0;
}

#main-h1 {
	padding:.5em 1em;
}

header #controls{
	 padding: .5em;
    text-align: right;
    margin-right: 10%;
    margin-left: auto;
    background-color: #222222;
}

nav#main-menu{
	display: inline-block;
	width: 200px;
	background-color: #BBBBBB;
	vertical-align: top;
}
.main-body{
	display: inline-block;
	background-color: #efefef;
}

#main-menu-list{
	list-style: none;
}

#mml1 {
	margin-top:10px;
}

#main-menu-list li {
	border-top: 1px solid black;
	padding: 1em .5em;
	margin-right: 1em;
	text-decoration: underline;
	line-height: 1.4;

}

#main-menu-list li:hover, #main-menu-list li:focus {
	border: 3px solid #22EE00;
	background-color: #EFEFEF;
	
}

#main-menu-list li:last-child{
	border-bottom: 1px solid black;
}

.list-title {
	font-weight: bold;
	font-size: 1em;
	margin: 0px 0px 10px -5px;
}

#content {
	margin: 1em;
	border: 2px solid black;
	padding: 10px;
	max-width:45em;
}

p.normal {
}

p.recommend, label.recommend, form.recommend {
	line-height: 1.5;
	font-size: 1.1em;
	text-indent: 1.5em;
	font-family: "Arial","Century Gothic",sans-serif;
}

p.dys-font, h2.dys-font, h3.dys-font, label.dys-font, div.dys-font, form.dys-font {
	font-family:dys,"comic sans",sans-serif;
}

.button {
	font-weight: bold;
    border: solid black 1px;
    margin: 1px;
}

.on {
	background-color: #66FF00;
}

.off {
	background-color: #eeaaa1;
}

/*DOG APP CSS*/
.hidden {
  display: none;
}

.unhide {
  display: inline-block;
  margin-left:1em;
}

#breed-menu{
	display:inline;
}

.hide{
	visibility: none;
}

/* AUDIO DESCRIPTION PAGE */

.overlay{
  height:390px;
  width: 640px;
  background-color:black;
  z-index: 2;
  position:absolute;
  display:inline-block;
}
.active{
border: solid 2px #AABBCC;
background-color: #FFDDFF;
font-weight: bold;
}
.hide-vid{
display:none;
}

div#vid1 {
	margin-top:10px;
	text-align: center;
}
